
.blog .text-listing-entries::before, .loading-posts .view-more::before{
    display: none;
}
.blog .text-listing-entries .bubble{
    display: none;
}
.blog .blog-top-part {
    margin: 30px 0;
    padding: 40px;
}
.blog .info-blog{
    padding-top: 5px;
}
.blog .blog-top-part .entry-name{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.blog .blog-top-part ul{
    padding-left: 0;
}
.blog .blog-top-part ul li{
    list-style: none;
}
.blog .blog-top-part ul .information-blog{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 75px;
    line-height: 25px;
    overflow-y: auto;
}
.blog .info-blog a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.blog .info-blog button{
    padding: 10px 15px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff6600;
    border: 1px solid transparent;
}
.blog .page-heading-blog{
    font-family: "Montserrat","Open Sans",sans-serif ;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Media queries*/
@media all and (max-width: 995px) {
    .blog-top-part .blog-info {
        padding-left: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width:480px){
    .blog .blog-top-part .entry-name{
        font-size: 18px;
    }
    .blog .blog-top-part ul .information-blog{
        font-size: 15px;
    }
    .info-blog a.number-authors{
        font-weight: bold;
    }
    .blog-top-part .blog-info{
        padding-left: 40px;
    }
    .blog .blog-top-part{
        padding: 10px;
    }
}
