
/*blog is displayed on the index, author profile [tab entries]*/
.posts.listings .info-entry .user span,
.blog_author .info-entry .user span,
.search-page .user span{
    color: #8c8c8c;
}
.posts.listings .info-entry .date,
.blog_author .info-entry .date{
    font-size: 15px;
}

/*BlogPage => blogs/user/slug*/
.blogs .no-more-listing{
    text-align: left;
    padding: 15px;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/*BlogPage => popup authors*/
.info-blog a.number-authors{
    text-transform: lowercase;
    font-weight: normal;
    font-size: 15px;
}
.author-show .modal-dialog{
    margin-top: 18%;
}
