
/*blog is displayed on the index, author profile [tab entries]*/
.posts.listings .info-entry .user span,
.blog_author .info-entry .user span,
.search-page .user span{
    color: #8c8c8c;
}
.posts.listings .info-entry .date,
.blog_author .info-entry .date{
    font-size: 15px;
}

/*BlogPage => blogs/user/slug*/
.blogs .no-more-listing{
    text-align: left;
    padding: 15px;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/*BlogPage => popup authors*/
.info-blog a.number-authors{
    text-transform: lowercase;
    font-weight: normal;
    font-size: 15px;
}
#author-modal{
    overflow-y: auto!important;
    
}

#author-modal .modal-body {
    position: relative;
    padding: 20px;
    overflow-y: auto;
    /*height: 85%;*/
}
#author-modal .row{
    margin-bottom: 10px;
}
#author-modal ul li a.author-info{
    text-transform: uppercase;
    font-size: 15px;
    color: #428bca;
}
#author-modal img.author-image{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#author-modal li.biography{
    list-style: none;
    max-height: 70px;
    overflow-y: auto;
    line-height: 25px;
}
#author-modal .link-for-author{
    /*height: 40px;*/
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/*Media queries for multi-blog*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .posts.listings .info-entry .date,
    .blog_author .info-entry .date{
        font-size: 13px;
    }
}

@media all and (max-width: 479px){
    .posts.listings .info-entry .date, .blog_author .info-entry .date{
        font-size: 12px;
    }
}

@media all and (max-width: 480px){
    #author-modal .link-for-author{
        line-height: 15px;
        font-size: 10px;
        font-weight: normal;
    }
    #author-modal ul li a.author-info{
        font-size: 12px;
    }
    #author-modal li.biography{
        font-size: 10px;
        line-height: 10px;
    }
}


